*body{
  box-sizing: border-box;
}
.preloader{
  color:#339933!important;
  background: #339933;
  background-image: #339933;
  background-color: #339933!important;
}


.nav-item::before{
  bottom:-8px;
}

.navbar-brand{
  height: 100px;
}

.row{
  margin-left: 0px;
}
.container{
  padding-right:0px;padding-left:0px;margin-right:0;margin-left:0
}
@media only screen and (min-width: 1281px) {
  
  .container{
    width: 1480px!important ;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
  .container{
    width: 1490px!important;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  .container{
    width: 1200px !important;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/



/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
  
  .container{
    width: 940px !important;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
  
  .container{
    width: 614px !important;
  }
  
}
#main_container > header > div.navigation.w-100 > div > nav > button{
  padding-bottom: 45px;
}

.text-primary{
  color:#41a42e!important;
}
footer{
  color:#a5a5d5;
}
.text-color{
  color:#a5a5d5;
}


@media only screen and (min-width:1200px)
{.container{max-width:100vw!important;}
.nav-item::before{
  bottom:-25px;
}
.swiper-container {
  width: 100%;
  margin-top:-40px;
  padding-top: 0px;
  padding-bottom: 50px;
  height:800px;
}
}

@media only screen and (min-width:992px)
{.container{max-width:1215px}}

@media only screen and (min-width:768px)
{.container{max-width:941px}}

@media only screen and (min-width:578px)
{.container{max-width:100vw}}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height:800px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  } 

  .btn-primary{
    background: #41a42e;
  }

  .nav-item:hover::before, .nav-item.active::before {
    bottom:-10px;
  }

  .nav-item::before{
    height: 3px;
    transition: none;

  }
  .btn-primary:hover{
    color:#41a42e;
    background-color: #41a42e;
  }
  #main_container > header > div.navigation.w-100 > div > nav > a > img{
    height: 110px;
  }
  .navbar-nav{
    background: #41a42e;
    height: inherit;
        width:35%;
        padding-left: 30px;
  }
  .navigation{
    background-image: linear-gradient(to right, transparent 75%, #41a42e 50%);
  }

  .newsletter{
    background-image: linear-gradient(to right, transparent 50%, #41a42e 50%);
  }
  .bg-primary {
  background: #41a42e !important;
  }
  .nav-item1{
    top:-17px;
  }
  .copyright{
    margin-top: 0px;
  }
  .card{
    margin: 20px 0 20px 0;
  }
  .carouselExampleIndicators{
    height:inherit;
  }

  @media(max-width: 1199px){
    #main_container > header > div.navigation.w-100 > div > nav > a > img{
      height: 60px;
    }
    @media screen and (top: 20px){
      #main_container > header > div.navigation.w-100 > div > nav > a > img{
        height: 75px;
      }
    
  
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      height:800px;
      margin-top: 1235px;
    }
    .navbar-nav{
      background: transparent;
      width:-5%;
      padding-top: 0px;
      padding-left: 0px;
    }
    .carousel-inner{
      display:block;
      height:1600px;
    }
    .navigation{
    background-image: linear-gradient(to right, transparent 60%, #41a42e 50%);
  }
  .nav-item::before{
    top:55px;
  }
  .courses_html{
    display: block;
    margin-top: -3px;
  }
}

@media(max-width: 985px){
  #main_container > header > div.navigation.w-100 > div > nav > a > img{
      
      position: absolute;
  top: -3px;
  height: 61px;
    }
    .courses_html{
      display: block;
      margin-top: -3px;
    }
    .carousel-inner{
      display:block;
      height: 1330px;
    }
    .navbar-nav{
      background: transparent;
      width:45%;
      padding-top: 17px;
      margin-top:1110px;
    }
    .swiper-container {
      width: 100%;
      padding-top: 450px;
      padding-bottom: 50px;
      height:1251px;
    }
    .navigation{
    background-image: linear-gradient(to right, transparent 60%, #41a42e 50%);
  }
}
@media (max-width: 760px){
  #main_container > header > div.navigation.w-100 > div > nav > a > img{
      height: 60px;

    }
    .carousel-inner{
      display:block;
      height: 900px;
    }
    .navbar-nav{
      background: transparent;
      width:45%;
      padding-top: 17px;
    }
    .courses_html{
      display: block;
      margin-top: -3px!important;
    }
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      height:800px;
      margin-top: 392px;
    }
    .navigation{
    background-image: linear-gradient(to right, transparent 60%, #41a42e 50%);
  }

}
@media (max-width: 570px){
  #main_container > header > div.navigation.w-100 > div > nav > a > img{
      height: 60px;
    }
    .carouselExampleIndicators{
      height: 802px;
    }
    .courses_html{
      display: block;
      margin-top: -3px!important;
    }
    .carousel-inner{
      display:block;
    }
    .navbar-nav{
      background: transparent;
      width:45%;
      padding-top: 17px;
    }
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      height:800px;
      margin-top: 450px!important;
    }
    .navigation{
    background-image: linear-gradient(to right, transparent 60%, #41a42e 50%);
  }
}

.slide-style{
  width: 300px;
  margin-right:10px;
}
.swiper-container1{
  width:3%;
}
.about_us{
  height: 900px;
}
.col-xl-6{
  height:inherit;
}

.upcoming_courses_div{
  bottom: 71px;
}
@media(max-width: 1199px){
  #main_container > section.section.about_us > div > div > div.col-md-6.order-2.order-md-2.mb-4.mb-md-0.upcoming_courses_div.about_us1{
    padding-left:100px;
  }
  .upcoming_courses{
    padding-top: 0px;
  }
  .about_us1{
    height:500px;
  }
  .upcoming_courses_div{
    padding-top:180px;
    padding-bottom:45px;
  }
  .swiper-container{
    margin-top: 400px;
  }
  
  .about_us{
    height: 1055px;
  }
}

@media(max-width: 985px){
  .upcoming_courses_div{
    padding-top:170px;
    padding-bottom: 125px;
    margin-top:100px;
  }
  .swiper-container{
    margin-top: 50px;
  }
}
@media (max-width: 760px){
  .about_us{
    height:1100px;
  }
  .upcoming_courses{
    padding-top: 40px;
  }
   .swiper-container{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 800px;
    margin-top: 392px;
   } 
  
  .our_courses{
    margin-left:15px ;
  }

}
@media (max-width: 570px){
  .about_us{
    height:1150px;
  }
  .our_courses{
    margin-left: 0px;
    
  }
}

.btn-primary-outline{
   color: #ffffff; 
    background-color: #41a42e; 
    border: none;
}
.btn-primary-outline:hover{
  background: #41a42e;
  color: #41a42e;
}

.mb-5, .my-5{
  margin-bottom:3rem !important;
  margin-top: 1rem;
}

body > section.page-title-section.overlay > div > div > div > ul > li:nth-child(1) > a{
  color:#41a42e !important; 
}

